---
layout: page
title: Events
---
  

<article class="grid_6">
  <div class="post">
     <h2 id="Past-events">Past events</h2>

  {% for post in site.posts  %}
  {% capture site_size %}{{ site.time | date: %Y%B%d }}{% endcapture %}
  {% capture post_size %}{{ post.date | date: %Y%B%d }}{% endcapture %}

  {% if site_size > post_size  %}

<ul><li> <a href="{{ post.url }}">{{ post.title }}</a> <br>
<span>{{ post.date | date_to_string }}</span><br>
            {{ post.excerpt }}
<a href="{{ post.url }}">...Read more </li><br></ul>

  {% endif %}
  {% endfor %}
 
   </div>
 </article>


<article class="grid_6">
   <div class="widget">
     <h2 id="Upcoming-events">Upcoming events</h2>

  {% for post in site.posts  %}
  {% capture site_size %}{{ site.time | date: %Y%B%d }}{% endcapture %}
  {% capture post_size %}{{ post.date | date: %Y%B%d }}{% endcapture %}
  {% if site_size <= post_size  %}

<ul><li> <a href="{{ post.url }}">{{ post.title }}</a> <br>
<span>{{ post.date | date_to_string }}</span><br>
            {{ post.excerpt }}
<a href="{{ post.url }}">...Read more </li><br></ul>

  {% endif %}
  {% endfor %}

  </article>
</div>  