---
layout: page
title: Events
---
  

<!-- {% for post in site.posts %}
{{ site.time | date: "%m-%d-%Y" }}>{{ post.date | date: "%m-%d-%Y" }}
<h2>Past events</h2>
<li><a href="{{ post.url }}">{{ post.title }}</a></li><br>
{% endfor %}
{% for post in site.posts %}
{{ site.time | date: "%m-%d-%Y" }}<={{ post.date | date: "%m-%d-%Y" }}
<h2>Upcoming events events</h2>
<li><a href="{{ post.url }}">{{ post.title }}</a></li><br>
{% endfor %}
 -->



<article class="grid_6">
   <div class="post">
{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

    {% if forloop.first %}
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    <h3 id="{{ this_year }}-{{ this_month }}-ref">{{ this_month }}</h3>
    <ul>
    {% endif %}

    <!-- Sort by past and upcoming events -->


{% capture site_size %}{{ site.time | date: "%Y%m%d" }}{% endcapture %}
{% capture post_size %}{{ post.date | date: "%Y%m%d" }}{% endcapture %}
{% if post_size > site_size %}
    <h2>Upcoming events</h2>
     {% else %}
     <h2>Past events</h2>
  {% endif %}
<!-- 
   {% if %}
    {{ site.time | date: "%Y%m%d" }}>{{ post.date| date: "%Y%m%d" }}
    <h2>Past events</h2>
    {% else %}
       <h2>Upcoming events</h2> %}
    {% endif %}

 -->

    <li><a href="{{ post.url }}">{{ post.title }}</a></li><br>  

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        <h3 id="{{ next_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
        <ul>
        {% else %}    
            {% if this_month != next_month %}
            </ul>
            <h3 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
            <ul>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>
</article>


<article class="grid_6">
   <div class="post">
        <h2>Past events</h2>
      <ul>
    {% for post in site.categories[past events] %}
      <li> <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
{{ post.date | date_to_string }}<br>
{{ post.excerpt }}<a href="{{ post.url }}">...Read more</a><br></li><br>
    {% endfor %}
  </ul>
    </div>
  </article>


  <article class="grid_4">
  <div class="widget">
      <h2>Upcoming events</h2>
       <ul>
    {% for post in site.categories[upcoming events] %}
      <li> <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
{{ post.date | date_to_string }}<br>
{{ post.excerpt }}<a href="{{ post.url }}">...Read more</a><br></li><br>
    {% endfor %}
  </ul>
    </div>
  </article>
</p>

