---
layout: default
title: Home
---


 
<!-- <div style="float:left; width:75%;"> -->
<h2>What is Three-ME</h2>
<small>
<p>Three-ME (Multi-sector Macroeconomic Model for the Evaluation of Environmental 
and Energy policy) is a new model of the French economy developed by ADEME, OFCE and 
IVM.  Its main purpose is to evaluate the medium and long term impact of environmental and energy policy measures on the economy at the macroeconomic and sectoral levels. To do so, Three-ME combines two important features. Firstly, it has the main characteristics of neo-Keynesian models by assuming a slow adjustment of effective quantities and prices to their notional level. Compared to standard multi-sectors CGEM, this has the advantage to allow for the existence of under-optimum equilibriums such as the presence of involuntary unemployment. Secondly, production and consumption structures are represented with a generalized CES function which allows for the elasticity of substitution to differ between each couple of inputs or goods.  This is an improvement compared to the standard approach that uses nested CES functions which has the disadvantage to impose a common elasticity of substitution between the goods located in two different nested structures. <br>
</p>
<p>Compared to the previous version of the model (Callonnec et al., 2011; Reynes et al. 2011), the following important improvements were made :
<ul>
<li>
 The 4 energy sectors of the previous version (coal, petroleum, electricity and gas) have been subdivided into 13 sectors in order to better account for the impact of renewable energy.</li>
<li> The model now distinguishes commodities from activities: the number of activities is not equal to the number of commodities and each activity can potentially produce any commodity. This is typically the case for energy sectors that may produce the same commodity.  For instance, the commodity electricity is produced by several activities: nuclear, wind, solar, etc. Another example is the activity agriculture that produces several commodities: agriculture product, food, biofuel and biogas. </li>
<li>Because of access restrictions to National account investment data, investment decisions were modeled for all of the private sector. We now use detailed investment data disaggregated by sector and therefore identify a specific investment pattern for each activity.</li>
<li> The modeling of households’ behaviors has been improved. The number of households has increased from 1 to 5, classified by quantile of revenue. In the previous version, only 2 energy classes (efficient and other) for buildings and cars were distinguished. The new verison includes 7 energy classes for buildings and cars that follows the standard A to G classification. The link between energy consumption and stock was rather <i>ad hoc</i>, since we assumed a loglinear negative correlation between energy consumption and the share of the efficient stock. The level of energy consumption (and thus of CO2 emissions) is now directly related to the type of buildings or cars and is also expressed in physical units. Finally, the arbitrage between the different classes of investments is not directly a function of price of energy, but of the relative user cost of each investment which includes the expected energy related costs.</li>
</ul>
Go to the <a href="http://lidewey.github.io/1Themodel/#Figure_1" target="Figure_1">model</a>.
</p>
</small>

 
<!-- <div style="float:right; width:25%; "> -->

   <h2>Upcoming events</h2>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h4 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h4>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <!-- {{ post.content }} -->
  </div>
  {% endfor %}


<!--  

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

-->

</div>

<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>