---
layout: default
title: Home
---

<div id="search">
  <form action="lidewey.github.io" method="get">
    <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
  </form>
</div>

<section id="search-results" style="display: none;">
  <p>Search results</p>
  <div class="entries">
  </div>
</section>
{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h3>
        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
        <a href="{{url}}">{{title}}</a>
      </h3>
    </article>
  {{/entries}}
</script>
{% endraw %}
<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '/search.json',             // URL of the `search.json` index data for your site
      results:  '#search-results',          // jQuery selector for the search results container
      entries:  '.entries',                 // jQuery selector for the element to contain the results list, must be a child of the results element above.
      template: '#search-results-template'  // jQuery selector for the Mustache.js template
    });
  });
</script>


<h2>What is Three-ME</h2>

<p>Three-ME (Multi-sector Macroeconomic Model for the Evaluation of Environmental 
and Energy policy) is a new model of the French economy developed by ADEME, OFCE and 
IVM.  Its main purpose is to evaluate the medium and long term impact of environmental and energy policy measures on the economy at the macroeconomic and sectoral levels. To do so, Three-ME combines two important features. Firstly, it has the main characteristics of neo-Keynesian models by assuming a slow adjustment of effective quantities and prices to their notional level. Compared to standard multi-sectors CGEM, this has the advantage to allow for the existence of under-optimum equilibriums such as the presence of involuntary unemployment. Secondly, production and consumption structures are represented with a generalized CES function which allows for the elasticity of substitution to differ between each couple of inputs or goods.  This is an improvement compared to the standard approach that uses nested CES functions which has the disadvantage to impose a common elasticity of substitution between the goods located in two different nested structures.</p>

<h2>Events</h2>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<script src="/jsdirectory/search.min.js" type="text/javascript" charset="utf-8"></script>