<div class="block2">
  <div class="container_12"> 
    <!--==============================content================================-->
    <section class="content">
      <div class="wrapper">
        <article class="grid_12 last-col">
          <div class="hello_box"> A successful digital project requires careful analysis, strategic planning
            and professional support, combined with your company needs &amp; goals. </div>
        </article>
      </div>
      <div class="wrapper offers_box">
        <article class="grid_3">
          <h2 class="clearfix"> <span class="f_left">How Wee Work</span> <a id="next" class="next" style="display: block;"></a> <a id="prev" class="prev" style="display: block;"></a> </h2>
          <p> We deliver outstanding user experiences through designing and realizing digital solutions. <a href="project-fourcol.html" class="arrowlink">Our Portfolio</a> </p>
        </article>
        <div class="grid_9">
          <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 699px; height: 220px; margin: 0px; overflow: hidden;"><div id="home-services" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3495px; height: 220px;">
            <div class="grid_3" style="width: 223px;">
              <div class="offer"> <img src="images/plan.png" alt="Plan">
                <div class="title">Plan</div>
                Lorem ipsum dolor sit amet, consect etur adip scing elit. Vestibulum ut tortor urnati dunt dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultricies.<br>
              </div>
            </div>
            <div class="grid_3" style="width: 223px;">
              <div class="offer"> <img src="images/design.png" alt="Design">
                <div class="title">Design</div>
                Lorem ipsum dolor sit amet, consect etur adip scing elit. Vestibulum ut tortor urnati dunt dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultricies.<br>
              </div>
            </div>
            <div class="grid_3 last-col" style="width: 223px;">
              <div class="offer"> <img src="images/prototype.png" alt="Prototype">
                <div class="title">Prototype</div>
                Lorem ipsum dolor sit amet, consect etur adip scing elit. Vestibulum ut tortor urnati dunt dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultricies.<br>
              </div>
            </div>
            <div class="grid_3 " style="width: 223px;">
              <div class="offer"> <img src="images/development.png" alt="Development">
                <div class="title">Development</div>
                Lorem ipsum dolor sit amet, consect etur adip scing elit. Vestibulum ut tortor urnati dunt dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultricies.<br>
              </div>
            </div>
            <div class="grid_3 " style="width: 223px;">
              <div class="offer"> <img src="images/testing.png" alt="Testing">
                <div class="title">Testing</div>
                Lorem ipsum dolor sit amet, consect etur adip scing elit. Vestibulum ut tortor urnati dunt dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultricies.<br>
              </div>
            </div>
            <div class="grid_3 last-col " style="width: 223px;">
              <div class="offer"> <img src="images/delivery.png" alt="Delivery">
                <div class="title">Delivery</div>
                Lorem ipsum dolor sit amet, consect etur adip scing elit. Vestibulum ut tortor urnati dunt dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultricies.<br>
              </div>
            </div>
          </div></div>
        </div>
      </div>
    </section>
  </div>
</div>