<div class="block3">
  <div class="container_12">
    <footer>
      <div class="wrapper">
        <div class="grid_6">
          <h2>About</h2>
          
          <ul class="social">
            <!-- <li> <a href="#">
		<figure><img src="images/soc1.png" width="31" height="24" alt=""><img src="images/blog.png" width="31" height="24" alt=""></figure> Follow us on Twitter</a>
		</li> -->
    OFCE <br>
69 quai d'Orsay <br>
75007 Paris <br>
<li class="cont_item m_bottom_zero"> <a href="mailto: gael.callonnec@ademe.fr">Contact Us</a>
    <figure><a href="http://lidewey.github.io/contact.html"><img src="images/soc4.png" width="31" height="20" alt=""></figure>  </li>
           <!--  <li> <a href="#">
		<figure> <img src="images/soc2.png" width="31" height="26" alt=""> <img src="images/icon-plan.png" width="31" height="24" alt=""></figure><a href="mailto: gael.callonnec@ademe.fr">Write us</a></li>
            <li> <a href="#">
		<figure><img src="images/soc3.png" width="31" height="26" alt=""></figure>
		Subscribe to our blog</a> </li>
            <li class="cont_item m_bottom_zero"> <a href="mailto: gael.callonnec@ademe.fr">Contact Us</a>
		<figure><a href="http://lidewey.github.io/contact.html"><img src="images/soc4.png" width="31" height="20" alt=""></figure>  </li> -->
          </ul>
        </div>
        <div class="grid_3">
          <h2>Copyright</h2>
          <!-- This includes all content and original design work, including the distinctive typographic style, layout and composition of this website. -->© OFCE 2014<br>
All Rights Reserved<br>
No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author.
</div>
        <div class="grid_3 last-col">
          <h2>Navigate</h2>
          <ul class="navigate">
            <li><a href="http://lidewey.github.io/index.html">Home</a></li>
            <li><a href="http://lidewey.github.io/themodel.html">The model</a></li>
            <li><a href="http://lidewey.github.io/test.html">Events</a></li>
            <li><a href="http://lidewey.github.io/blog.html">Download</a></li>
            <li><a href="http://lidewey.github.io/contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
