<div class="block3"> 
  <!--==============================footer=================================-->
  <div class="container_12">
    <footer>
      <div class="wrapper">
        <div class="grid_6">
          <h2>About</h2>
          <p>Hi, we are Wee - a creative agency! 
            Wee emphasizes clean displays of content while facilitating great user experiences.</p>
          <ul class="social">
            <li> <a href="#">
              <figure><img src="images/soc1.png" width="31" height="24" alt=""></figure>
              Follow us on Twitter</a> </li>
            <li> <a href="#">
              <figure><img src="images/soc2.png" width="31" height="26" alt=""></figure>
              Join us on Facebook</a> </li>
            <li> <a href="#">
              <figure><img src="images/soc3.png" width="31" height="26" alt=""></figure>
              Subscribe to our blog</a> </li>
            <li class="cont_item m_bottom_zero"> <a href="index-5.html">
              <figure><img src="images/soc4.png" width="31" height="20" alt=""></figure>
              Contact Us</a> </li>
          </ul>
        </div>
        <div class="grid_3">
          <h2>Copyright</h2>
          This includes all content and original design work, including the distinctive typographic style, layout and composition of this website. </div>
        <div class="grid_3 last-col">
          <h2>Navigate</h2>
          <ul class="navigate">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>Portfolio</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </footer>