 
<!-- <script type="text/javascript" src="js/scripts.js"></script> -->

<div class="block1 p_bottom_zero">
  <div class="container_12"> 


    <!--==============================header=================================-->
<!-- 
<head>
  <style>                                                       /*Style nav type*/
  #nav li a.current{
   color: #62676d;
   background:#12212F;

}
  </style> 
</head>  -->

<body>
    <header>
      <h1><a class="logo" href="index.html"><span class="underline">Three-ME</span></a></h1>
      <nav>
        <ul class="sf-menu">
          <li><a href="index.html">Home</a></li>
          <li ><a href="themodel.html">The model</a></li>
           <li><a href="test.html">Events</a></li>
                  <li><a href="javascript:">Download</a>
            <ul>
              <li><a href="blog.html">Presentation Three-ME</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </header>
  </body>
</div>
</div>
</div>
</div>
