 
<!-- <script type="text/javascript" src="js/scripts.js"></script> -->

<div class="block1 p_bottom_zero">
  <div class="container_12"> 
    <header>
      <h1><a class="logo" href="http://lidewey.github.io/"><span class="underline">Three-ME</span></a></h1>
      <nav>
        <ul class="sf-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/themodel.html">The model</a></li>
           <li class="events"><a href="/events.html">Events</a></li>
           <li class="download"><a href="/download.html">Download</a></li>
           <li class="contact"><a href="/contact.html">Contact</a></li>
        </ul><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color="#ffffff">{{ site.time | date_to_long_string }}</font>

     <!--  <div align="right"><font color="#ffffff">{{ site.time | date_to_long_string }}</font></div> -->

      </nav>
      <div class="clear"></div>
    </header>
</div>
</div>
