
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
 {% include head.html %}

 <body>

{% include header.html %}

<div class="block2">
  <div class="container_12"> 
    <!--==============================content================================-->
    <section class="content">
      <div class="wrapper">
        <article class="grid_12 last-col">
          <div class="hello_box">{{ page.title }}</div>
               </article>
      </div>

    {{ content }}
         
      </div>
    </section>
  </div>
</div>

{% include footer.html %}

  </body>

</html>
