<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          <!-- TODO: add baseurl to the logo link -->
          <a href="{{ site.url }}" id="logo" title="{{ site.data.brume.name }}"
             style="background-image: url({{site.baseurl}}/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

<footer>
  <hr>
<a href="http://lidewey.github.io//">Home</a> &nbsp;&nbsp;&middot;
<a href="http://lidewey.github.io/shopping.html">Shopping</a>&nbsp;&nbsp;&middot;
<a href="http://lidewey.github.io/restaurants.html">Restaurants</a>&nbsp;&nbsp;&middot;
<a href="http://lidewey.github.io/events.html">Events</a>
        </p>
      </footer>
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
