---
layout: default
---

<div class="post">
<!-- <div>{{ page.excerpt | textilize }} </div>  -->  <!-- Transform textile format to html -->

   <!--  <h2 class="post-title">{{ page.title }}</h2>  -->
  <span class="post-date">{{ page.date | date_to_string }}</span>

  <p>{{ content }}</p>

</div>


<div class="related">
  <h2>Related events</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:10 %}
        <p>
          <a href="{{ post.url }}">
            {{ post.title }}
            <p>{{ post.date | date_to_string }}</p>
          </a>
        </p>
         {% endfor %}
  </ul>
</div>


<!-- div>{{ page.excerpt | textilize }}</div>
<div class="post">
  <p>{{ content }}</p>
</div> -->